@font-face {
    font-family: 'SourceHanSansSC';
    src: url('/fonts/SourceHanSansCN-VF.otf.woff2') format('woff2');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SourceHanSerifSC';
    src: url('/fonts/SourceHanSerifCN-VF.otf.woff2') format('woff2');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SourceCodePro';
    src: url('/fonts/SourceCodeVF-Upright.otf.woff2') format('woff2');
    font-weight: 200 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SourceCodePro';
    src: url('/fonts/SourceCodeVF-Italic.otf.woff2') format('woff2');
    font-weight: 200 900;
    font-style: italic;
    font-display: swap;
}

body {
    font-family: 'SourceHanSansSC', sans-serif !important;
    font-weight: 400;
}

code, pre, .chroma {
    font-family: 'SourceCodePro', monospace !important;
}

/* 标题不同粗细示例 */
h1, h2 { font-weight: 700; }   /* Bold */
h3, h4 { font-weight: 500; }   /* Medium */
strong { font-weight: 600; }   /* SemiBold */
